$color-eaeaea: #eaeaea;
$color-212529: #212529;
$color-ffd333: #ffd333;
$color-47ad24: #47ad24;
$color-e52e2e: #e52e2e;
$color-828599: #828599;
$color-ed464d: #ed464d;
$color-ced4da: #ced4da;
$primary-color: #232f3e;
$secondary-color: #febd69;
$accent-color: #f60606;
$text-color: #000;
$background-color: #fff;
$box-shadow-color: #0000001a;
$border-color: #ededed;
