/* Footer */
@import "../../GlobalStyle/variables";
footer {
  background-color: #353535 !important;

  &:not(:first-child) {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  & .input-group-text {
    background-color: #101010;
    color: white;
    padding: 8px 17px;
  }

  .footer-img {
    width: 35px;
    height: 35px;
    margin-right: 15px;
  }

  /* Footer Top Data Styles */
  .footer-top-data {
    align-items: center;

    h2 {
      margin: 0;
      color: #fff;
      font-size: 20px;
    }
  }

  /* Social Icons Styles */
  .social_icons {
    a {
      color: #fff;

      &:hover {
        color: #686869;
      }
    }
  }

  /* Footer Links Styles */
  .footer-links {
    a {
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      letter-spacing: 0.3;
      text-transform: uppercase;
      padding: 2px 0;
    }
    a:hover {
      color: #febd69;
    }
  }
}

/* Responsive Styles */
@media (max-width: 767px) {
  .col-5,
  .col-7 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 15px;
  }

  .footer-links,
  .social_icons {
    flex-direction: column;
  }

  /* Footer Links Styles */
  .footer-links {
    a {
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      letter-spacing: 0.3;
      text-transform: uppercase;
      padding: 2px 0;

      &:hover {
        color: #686869;
      }
    }
  }
}

@media (max-width: 575px) {
  .footer-top-data {
    flex-direction: column;
    align-items: flex-start;
  }

  .col-5,
  .col-7 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 15px;
  }
}
