.product-card {
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;

  &:hover .action-bar {
    right: 15px;
  }

  & .product-image {
    height: 200px;
    align-items: center;
    img {
      object-fit: contain;
    }
  }

  .product-detail h6 {
    color: #bf4800;
    font-size: 13px;
  }

  .product-detail h5 {
    font-size: 15px;
    color: #1c1c1b;
  }

  .product-detail p.product-prices {
    font-size: 16px;
    color: #1c1c1b;
  }

  p.description {
    font-size: 13px;
    color: #777777;
    margin-right: 20px;
  }
}

.product-card .product-image > img:last-child {
  display: none;
}
.product-card:hover .product-image > img:nth-child(1) {
  display: none;
}

.product-card:hover .product-image > img:last-child {
  display: block;
}

.action-bar {
  top: 10%;
  right: -20px;
  transition: 0.3s;
}

.gap-15 {
  gap: 15px;
}

.wishlist-icon {
  top: 2%;
  right: 15px;
}

.gr-12 {
  width: 100%;
}

.gr-6 {
  width: 48.5%;
}

.gr-4 {
  width: 32%;
}

.gr-3 {
  width: 24%;
}
.gr-12 .action-bar {
  top: 17%;
}

.gr-12 .product-card {
  display: flex;
  gap: 20px;
}

.gr-12 .product-card .product-image {
  width: 270px;
  height: auto;
}

.gr-4 .product-image {
  width: 100%;
}

.gr-6 .product-image img {
  margin: auto;
  display: block;
}
