.blog-card {
  background-color: #fff;
  border-radius: 10px;

  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .blog-content {
    padding: 15px;

    & .date {
      font-size: 13px;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 0;
      font-weight: 400;
      color: #777777;
      padding: 0;
    }

    h5 {
      font-size: 18px;
      color: #131921;
    }

    p.desc {
      font-size: 13px;
      line-height: 22px;
      color: #777777;
    }
  }
}
