.compare-product-card {
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;

  .cross {
    top: 15px;
    right: 15px;
    width: 25px;
    padding: 3px;
    cursor: pointer;
  }
}

.compare-product-detail {
  h5.title {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    color: #1c1c1b;
  }

  h6.price {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
  }

  .product-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}
