.forgot-card {
  padding: 20px;
  background-color: #fff;
  width: 500px;
  margin: 100px auto;
  border-radius: 10px;

  h3 {
    font-size: 19px;
    font-weight: 500;
    color: #777777;
  }

  .form-custom {
    height: 50px;
    background-color: #f5f5f7;
    color: #777777;
    font-size: 14px;
    border-radius: 10px;
    border-color: transparent;
  }

  a {
    font-size: 14px;
    font-weight: 400;
    color: #1c1c1b;
  }

  .register {
    background-color: #febd69;
    color: #131921;

    &:hover {
      background-color: #131921;
      color: white;
    }
  }
}
